#All lines with a # in front of them will be ignored

#The units of measurement used in all config values below, if this is not accurate
# all values will be inaccurate.
#
#Options: in(inches) or cm(centimeters)
units: in

#The height of the tank will be used to measure water level
#max tank height is ~10ft(120in)
tank height: 20

#How far above the maximum water level the sensor is set. If the water level goes above this level the sensor will send
# a warning to the user and shutoff all pumps.
height offset: 5

#if water level is at or below this level, warning will be sent to user until water rises above.
critical low: 5